/*
Thame Name: GoolAfrooz
Author: Atroopa
Author URI: http//www.ednbri.ir
Version: 1.0
*/
/* استایل دهی به منو */
#menu-main-menu {
  background-color: yellow; /* رنگ پس زمینه */
  color: white; /* رنگ متن */
}

/* استایل دهی به لینک‌های منو */
#menu-main-menu li a {
  color: white; /* رنگ متن لینک */
}

/* استایل دهی به لینک‌های هوور */
#menu-main-menu li a:hover {
  color: black; /* رنگ متن لینک هوور */
}
